@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100vw;
}

.header, .main {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 10px 50px;
    overflow: auto;
}

ul {
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    margin:0;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    color: #1f2937;
    background-color: rgb(255,255,255,0.5);
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.main {
    gap:20px;
    display: flex;
}

.left-main {
    padding-top: 10px;
    flex:1;
}

#main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 8px;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.dark-secondary-text {
    color: #1f2937;
    font-size: 18px;
    text-align: center;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 15px;
    border-color: white;
}

.sign-up:hover {
    color: #3882f6;
    background-color: white;
}

#main-img {
    width: 300px;
    clip-path: circle(130px at 50% 50%);
    position: relative;
    top: -40px;
    display: block;
    object-fit: cover;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}

.info-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.random-info-main-frame {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.random-info-img {
    width: 150px;
    object-fit: cover;
    height: 150px;
}

.random-info-col {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 50px 100px;
}

#quote-text {
    font-size: 24px;
    font-weight: 100;
    color: #1f2937;
    opacity: 0.7;
}

#quote-credit {
    font-size: 20px;
    font-weight: bold;
    color: #1f2937;
    text-align: end;
}

.call-to-action {
    display: flex;
    margin: 50px 100px;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 10px 50px;
    gap: 20px;
    overflow: auto;
}

button {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    flex:none;
}

#main-call-text {
    color: white;
    font-size: 15px;
    margin-bottom: 0;
}

#sub-call-text {
    color: #e5e7eb;
    font-size: 10px;
}

.credits {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 10px;
    text-align: center;
    padding: 10px;
}
